Repository GSG-G8/events-booker, pull requests merged in 2020-03, with the labels that each got.

#7 Adding the content of our readme
  README.md
Labels: Done, For-merge

#25 create express server
  package-lock.json
  package.json
  server/app.js
  server/controller/error/client.js
  server/controller/error/server.js
  server/controller/index.js
  server/index.js
  server/router/index.js
Labels: Back-end, Done, For-merge

#32 Database-Setup
  server/database/config/build.js
  server/database/config/build.sql
  server/database/config/connection.js
  server/database/config/fakeData.sql
Labels: Awaiting review, Request-change

#40 cancel user registration
  .gitignore
  server/app.js
  server/controller/index.js
  server/controller/routes/user/cancelRegistration.js
  server/controller/routes/user/index.js
  server/database/queries/cancelRegistratinQ.js
  server/middleware/index.js
  server/middleware/validation.js
  server/router/index.js
Labels: Done, For-merge

#41 Create a /getevents back-end route with a get method
  package.json
  server/app.js
  server/controller/index.js
  server/controller/routes/user/index.js
  server/controller/routes/user/mainPage.js
  server/database/queries/getEvents.js
  server/router/index.js
Labels: Awaiting review

#44 Confirm pop up (Book an Event)
  .vscode/settings.json
  package-lock.json
  package.json
  server/controller/index.js
  server/controller/routes/user/index.js
  server/controller/routes/user/registeration.js
  server/database/queries/checkAlreadyBooked.js
  server/database/queries/checkUserExist.js
  server/database/queries/getEventDetalis.js
  server/database/queries/getUsersCode.js
  server/database/queries/signUserAttend.js
  server/router/index.js
Labels: Awaiting review, Back-end

#48 confirm users attendance
  server/controller/index.js
  server/controller/routes/portal/attendance.js
  server/controller/routes/portal/index.js
  server/controller/routes/user/mainPage.js
  server/database/queries/signAttendanceSql.js
  server/database/queries/userHasBooked.js
  server/router/index.js
Labels: Awaiting review, Back-end

#46 create new event
  server/app.js
  server/controller/index.js
  server/controller/routes/admin/createEvent.js
  server/controller/routes/admin/index.js
  server/controller/routes/portal/attendance.js
  server/controller/routes/portal/index.js
  server/database/queries/creatEventSql.js
  server/router/index.js
Labels: Awaiting review, Back-end

#50 Users Button in the Dashboard of the Admin
  server/controller/index.js
  server/controller/routes/admin/getUsers.js
  server/controller/routes/admin/index.js
  server/database/queries/getUsers.js
  server/router/index.js
Labels: Awaiting review, Back-end route

#49 View Users
  package.json
  server/controller/index.js
  server/controller/routes/admin/index.js
  server/controller/routes/admin/viewUsers.js
  server/database/queries/getEvents.js
  server/database/queries/getUsersOfEvent.js
  server/router/index.js
Labels: Awaiting review, Back-end, Back-end route, DataBase

#47 admin login
  server/app.js
  server/controller/index.js
  server/controller/routes/admin/index.js
  server/controller/routes/admin/login.js
  server/database/config/admin.sql
  server/database/config/build.sql
  server/database/queries/checkEmail.js
  server/middleware/checkEmail.js
  server/middleware/checkPassword.js
  server/middleware/index.js
  server/middleware/protectedRoute.js
  server/middleware/validation.js
  server/router/index.js
Labels: Awaiting review, Back-end, DataBase

#51 Adding the heroku link to our readme
  README.md
Labels: Awaiting review, Read-me

#55 Edit the techno of the readme
  README.md
Labels: Awaiting review

#43 register new user
  package-lock.json
  package.json
  server/app.js
  server/controller/index.js
  server/controller/routes/user/registerNewUser.js
  server/controller/routes/user/sendSmsMsg.js
  server/database/config/connection.js
  server/database/queries/users/getUser.js
  server/database/queries/users/newUser.js
  server/router/index.js
Labels: Awaiting review, Back-end

#56 Edit the users stories of the admin and the user
  README.md
Labels: Awaiting review, Read-me

#60 Adding a user story for the users of our site
  README.md
Labels: Awaiting review, Read-me

#59 Adding the logout backend route
  server/controller/index.js
  server/controller/routes/admin/index.js
  server/controller/routes/admin/logout.js
  server/router/index.js
Labels: Awaiting review, Back-end, Back-end route

#54 get event with date
  package-lock.json
  server/controller/index.js
  server/controller/routes/admin/index.js
  server/controller/routes/admin/viewEventsOnDate.js
  server/controller/routes/user/index.js
  server/database/queries/getEventsWithDate.js
  server/router/index.js
Labels: Awaiting review, Back-end, DataBase

#58 delete events
  server/controller/index.js
  server/controller/routes/admin/deleteEvent.js
  server/controller/routes/admin/index.js
  server/database/config/connection.js
  server/database/queries/expierdEvent.js
  server/router/index.js
Labels: Awaiting review, Back-end, Back-end route

#61 Portal page authentication
  server/controller/index.js
  server/controller/routes/admin/index.js
  server/controller/routes/portal/index.js
  server/controller/routes/portal/portalLogainPage.js
  server/database/config/build.sql
  server/database/queries/getAdmin.js
  server/middleware/checkPinCode.js
  server/middleware/index.js
  server/middleware/protectedPortalRoute.js
  server/router/index.js
Labels: Awaiting review, Back-end

#64 refactor connection file with switch
  server/database/config/connection.js
Labels: Awaiting review, Back-end, DataBase-Setup

#65 Modularize the queries folder
  server/controller/error/server.js
  server/controller/routes/admin/createEvent.js
  server/controller/routes/admin/deleteEvent.js
  server/controller/routes/admin/getUsers.js
  server/controller/routes/admin/index.js
  server/controller/routes/admin/login.js
  server/controller/routes/admin/logout.js
  server/controller/routes/admin/viewEventsOnDate.js
  server/controller/routes/admin/viewUsers.js
  server/controller/routes/portal/attendance.js
  server/controller/routes/user/cancelRegistration.js
  server/controller/routes/user/index.js
  server/controller/routes/user/mainPage.js
  server/controller/routes/user/registerNewUser.js
  server/controller/routes/user/registeration.js
  server/controller/routes/user/sendSmsMsg.js
  server/database/queries/admin/checkEmail.js
  server/database/queries/admin/index.js
  server/database/queries/admin/signAttendanceSql.js
  server/database/queries/checkAlreadyBooked.js
  server/database/queries/checkUserExist.js
  server/database/queries/events/checkAlreadyBooked.js
  server/database/queries/events/creatEventSql.js
  server/database/queries/events/expierdEvent.js
  server/database/queries/events/getEventDetalis.js
  server/database/queries/events/getEvents.js
  server/database/queries/events/getEventsWithDate.js
  server/database/queries/events/index.js
  server/database/queries/expierdEvent.js
  server/database/queries/getEventDetalis.js
  server/database/queries/getUsersCode.js
  server/database/queries/signAttendanceSql.js
  server/database/queries/signUserAttend.js
  server/database/queries/userHasBooked.js
  server/database/queries/users/cancelRegistratinQ.js
  server/database/queries/users/checkUserExist.js
  server/database/queries/users/getUsers.js
  server/database/queries/users/getUsersCode.js
  server/database/queries/users/getUsersOfEvent.js
  server/database/queries/users/index.js
  server/database/queries/users/signUserAttend.js
  server/database/queries/users/userHasBooked.js
  server/middleware/checkEmail.js
  server/middleware/checkPassword.js
  server/middleware/index.js
  server/middleware/protectedRoute.js
  server/router/index.js
Labels: Awaiting review, File-Structure
